apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-ufbiujjf
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-ufbiujjf:55c9c3fbdcfe33b4a7c9da0be384496c607568b7@sha256:af9dcd9bac7615aa2bec86508be6923c887b5dd68b3eb5623fab14fcbd1bd7a3
          name: container-image
